body {
    overflow-x: hidden;
    background-color: #E4F9F5;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    position: relative;
}

header {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #11999E;
    height: 85px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
}

h1 {
    position: absolute;
    left: 0.18%;
    right: 30.1%;
    padding-left: 25px;
    top: 0%;
    bottom: 2.99%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 0em;
    text-align: center;
}

.com {
    position: absolute;
    left: 12.2%;
    right: 0%;
    top: 27.36%;
    bottom: 17.93%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.signup {
    background-color: transparent;
    border: none;
    position: relative;
    left: 84%;
    right: 0%;
    top: 30%;
    bottom: 0%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 150;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

.login {
    position: relative;
    left: 88.8%;
    background: #40514E;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 150;
    font-size: 18px;
    line-height: normal;
    text-decoration: none;
    border: 2px solid #00000069;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
}

ul#nav li {
    display: inline;
    padding-right: 50px;
}

#nav {
    background-color: #40514E;
}

.navi {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 1px;
    font-size: 15px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

ul {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    top: 37.39px;
}

.form {
    position: relative;
    top: 170px;
    left: 15.5%;
    text-align: center;
    right: 50px;
    border: 1px solid white;
    border-color: black;
    box-sizing: border-box;
    border-radius: 10px;
    margin-left: 200px;
    background: url("./img/lr.jpg");
    background-size: 350px 450px;
    background-repeat: no-repeat;
    background-position: right;
    width: 700px;
    height: 380px;
}

h3 {
    position: relative;
    right: 25.5%;
    top: 10px;
    font-size: 30px;
    word-spacing: 1px;
}

.para {
    position: relative;
    text-align: left;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 600;
}

.special {
    position: relative;
    margin-top: 40px;
    text-align: left;
}
a {
    text-decoration: none;
}
.btn {
    border: 1px solid black;
    height: 20px;
    text-align: center;
    color: white;
    background-color: #40514E;
    cursor: pointer;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#space {
    height: 30px;
}

table {

    margin-left: 18px;
}

input {
    border-radius: 5px;
    background-color: #E4F9F5;
    width: 300px;
    height: 25px;
}

#box {
    align-self: left;
    size-adjust: 120px;
}
.logint{
    position: relative;
    right:25.5%;
    background: #40514E;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 150;
    font-size: 13px;
    line-height: normal;
    text-decoration: none;
    border: 2px solid #00000069;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}